@use "../globals" as g;

.credits {
  width: 100%;
  justify-content: space-between;
  padding: 1rem 3rem;
  background: $clr-dark;
  color: $clr-light;
  font-size: 16px;

  &-author {
    color: goldenrod;
  }
}

@media screen and (max-width: 768px) {
  .credits {
    padding: 1rem;
    flex-direction: column;
    font-size: 16px;
    
    & p {
      font-size: 14px;
    }
  }
}
