@use '../util' as u;
// ANCHOR reset CSS
html {
    box-sizing: border-box;
    font-size: 62.5%;
    // font-size: 100%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.0075rem;
    color: #757575 !important;
    background-color: #f5f5f4;
}



section {
	min-width: 100vw !important;
}