@use '../util' as u;

// h1, 
// h2, 
// h3 {
//     font-weight: u.$font-large;
//     line-height: 1.1;
//     margin-top: 0;
// }

h1 {
	font-size: 5rem;
	font-weight: 900;
	// font-family: 'Great Vibes', cursive;
	letter-spacing: 0.25rem;
	// text-transform: capitalize;
	line-height: 1.25;
	text-shadow: 2px 2px 8px #191919;
	// color: #c59d5f;
	// margin-bottom: 0.75rem;
	width: 100%;
	text-align: center;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit !important;
}